<div>
    <hr>
    
    <div id='chatCompresion'>
    </div>

    <hr>
    <hr>
    <div id='chatArea'>
    </div>
    <hr>
    
    <div id="userInput" class="input-group mb-3">
        <input id='email' type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
        <input id='nombre' type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
        <input id='apellido' type="text" class="form-control" placeholder="Apellido" aria-label="Username" aria-describedby="basic-addon1">
        <input id='edad' type="number" class="form-control" placeholder="Años" aria-label="Username" aria-describedby="basic-addon1">
        <input id='usuario' type="text" class="form-control" placeholder="Nombre Usuario" aria-label="Username" aria-describedby="basic-addon1">
        <input id='avatar' type="text" class="form-control" placeholder="Url Avatar" aria-label="Username" aria-describedby="basic-addon1">
        <span onclick="confirmUser(event)" class="input-group-text" id="basic-addon1"><button class='btn btn-primary'>Confirmar</button></span>
    </div>

    <div id="textChatBox">
        
    </div>
    
    
    <hr>
    
</div>