<div class='container' id='form'>
   
    <h2>Formulario de productos</h2>
        
      <form class="row g-3 needs-validation" action="/" method="post" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Producto</label>
          <input type="text" class="form-control" id="validationCustom01" name='title' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Precio</label>
          <input type="text" class="form-control" id="validationCustom02"  aria-describedby="inputGroupPrepend" name='price' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Url de la Miniatura</label>
          <input type="text" class="form-control" id="validationCustom05" name='thumbnail' required>
          <div class="invalid-feedback">
            Adjunte un enlace valido.
          </div>
        </div>
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Enviar</button>
          <button class="btn btn-primary" type="reset">Limpiar</button>
        </div>
        
      </form>
      
</div>
<hr>

