<!DOCTYPE html>
<html lang="en">
    <%- include('templates/head') %>
<body class="container">
    <%- include('templates/navBar') %>
    <br>
    <h2>Carrito: </h2>
    <hr>
  
    
    
</body>
</html>