*{
    color: white;
    background-color: #262f3d;
}

#mainBodyContainer{
    background-color: #262f3d;
}

#mainBodyCartContainer{
    background-color: #262f3d;
}

#mainBodyAditionalDataContainer {
    background-color: #262f3d;
}

/* AVATAR IMAGE */
#avatar{
    border-radius: 100%;
}

#logOutContainter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}


/* MSG BOX CHAT */
#chatBox {
    margin-bottom: 100px;
}

#msgLabel {
    display: flex;
    flex-direction: row;
}

p {
    margin: 20px 5px;
}

#userEmail {
    color: green;
}

#msgDate {
    color: brown;
}

#msg {
    color: green;
    font-style: italic;
}


/* NAVIGATION BAR */
#menuOptions {
    justify-content: center;
    width: 200px;
}

#menuOptionsList li {
    padding: 0px 20px;
    color: whitesmoke;
}

#navbarSupportedContent {
    width: 100%;
}

#logOutAvatarButtonsContainer {
    padding: 0px 10px;
}

/* CHAT USER INPUTS */
#emptyChatButton {
    margin-bottom: 10px;
}

#userInput input{
    background-color: #262f3d;
    color: whitesmoke;
}
#userInput ::placeholder{
    color: whitesmoke;
}


/* PRODUCTS TABLE */
#searchInput{
    background-color: #262f3d;
    color: whitesmoke;
}
#searchInputForm ::placeholder{
    color: whitesmoke;
}

#productsTable{
    margin: 40px 0px;
}

/* LOGIN AND SIGNUP FORM */
#loginFormContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20vh;
    align-items: center;
}

#loginForm input{
    width: 40vh;
}

#redirectButtons{
    width: 40vh;
}
#logInAndRegisterButton{
    width: 40vh;
    margin: 5px 0px; 
}

#signupFormContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20vh;
    align-items: center;
}

#signUpForm input{
    width: 40vh;
}

/* ADITIONAL DATA FORM */

#additionalDataButton{
    margin-top: 5px;
}

#aditionalDataLoadedContainer {
    display: flex;
}

#aditionalDataAvatarContainer {
    flex-direction: column;
}

#aditionalDataAvatarContainer{
    /* margin-right: 150px; */
}


/* PRODUCT FORM */

#productForm input{
    background-color: #262f3d;
    color: whitesmoke;
}