<div>
    <div id='chatArea'>
    </div>
    <hr>
    
    <div id="userInput" class="input-group mb-3">
        <input id='user' type="text" class="form-control" placeholder="Ingrese su Email" aria-label="Username" aria-describedby="basic-addon1">
        <span onclick="confirmUser()" class="input-group-text" id="basic-addon1"><button class='btn btn-primary'>Confirmar</button></span>
    </div>

    <div id="textChatBox">
        
    </div>
    
    
    <hr>
    
</div>