<div id='loginFormContainer' class='container'>

    <h2>Formulario de Login</h2>
    
    <% if (loginError) { %>
      <br>

      <div class="alert alert-danger">
        El usuario no esta registrado.
      </div>
    <% } %>

    <form class="col g-3 needs-validation" action="/passportLogin"   method="post" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="userParam" name='user' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="pswParam" name='password' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <hr>
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit" >Log In</button>
          <button class="btn btn-primary" type="reset">Limpiar</button>
        </div>

        <hr>
        
      </form>

      <form action="/authSignUp" method="get" novalidate">  
            <button class='btn btn-primary' type="submit" >Registrarse --> </button> 
    </form>

</div>