<div class='container' id='loginFormContainer'>

    <h2>Iniciar sesion</h2>
    
    <% if (loginError) { %>
      <br>

      <div class="alert alert-danger">
        El usuario no esta registrado.
      </div>
    <% } %>
    <div id="formContainer">
      <form id="loginForm" class="col g-3 needs-validation" action="/passportLogin"   method="post" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="userParam" name='user' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="pswParam" name='password' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>
        
        <div class="col-12">
          <button id="logInAndRegisterButton" class="btn btn-outline-warning" type="submit" >Log In</button>
          
        </div>
      </form>
      <form action="/authSignUp" method="get" novalidate">  
        <button id="redirectButtons" class='btn btn-outline-warning' type="submit" >Registrarse --> </button> 
      </form>
    </div>
    

</div>