<br>
<div id='logOutButtonContainer' class='container'>
    <form action="/authLogOut" method="post" novalidate">
        <div id="logOutContainter" class="alert alert-success " role="alert">
            <label for="validationCustom01" >Bienvenido <strong><%= fieldName %>!</strong></label>
            <button class='btn btn-danger' type="submit" >LogOut</button>
          </div>
        
        
    </form>
    <hr>
</div>