<nav id="navBar" class="navbar navbar-dark bg-dark d-flex flex-row justify-content-center">
   
    <div class="d-flex flex-row justify-content-between " id="navbarSupportedContent">
      <div id="menuOptions" class="d-flex flex-row  align-items-center">
        <ul class="navbar-nav mr-auto d-flex flex-row">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
        </ul>
      </div>      
     
      <div id="buttonsContainer" class="d-flex flex-row  align-items-center">
        <form action="/signUpAditionalData" method="get" novalidate">
          <button class='btn btn-warning' type="submit" style="border-radius: 100%; margin: 5px;">
            <img id="avatar" src="https://cdn2.iconfinder.com/data/icons/avatars-60/5985/40-School_boy-256.png" width="40" height="40">
          </button>
        </form>
        <form action="/authLogOut" method="post" novalidate">
          <button class='btn btn-warning' type="submit" >LogOut</button>
        </form>
      </div>
     
        
    
    </div>
  </nav>