<nav id="navBar" class="navbar navbar-dark bg-dark">
   
    <div class="d-flex flex-row justify-content-end align-items-center " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex flex-row ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Cart</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>

      <!-- <div id='logOutButtonContainer'> -->
        
        <form action="/authLogOut" method="post" novalidate">
            <!-- <div id="logOutContainter" role="alert"> -->
                <!-- <a class="navbar-toggler-icon"> -->
                    
                <!-- </a> -->
                <img id="avatar" src="https://static.vecteezy.com/system/resources/previews/002/275/847/non_2x/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg" width="30" height="30">
                <button class='btn btn-warning' type="submit" >LogOut</button>
                <!-- </div> -->
        </form>
    <!-- </div> -->
    </div>
  </nav>