<div class='container' id='form'>
   
    <h2>Ingreso de productos</h2>
        
      <form id="productForm" class="row g-3 needs-validation" action="/products" method="post" novalidate">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Sku</label>
          <input type="text" class="form-control" id="tt" name='sku' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="td" name='title' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="td" name='description' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom03" class="form-label">Precio</label>
          <input type="text" class="form-control" id="pr"  aria-describedby="inputGroupPrepend" name='price' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom03" class="form-label">Stock</label>
          <input type="text" class="form-control" id="pr" name='stock' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Url de la Miniatura</label>
          <input type="text" class="form-control" id="tb" name='thumbnail' required>
          <div class="invalid-feedback">
            Adjunte un enlace valido.
          </div>
        </div>
        
        <div class="col-12">
          <button class="btn btn-outline-warning" type="submit">Agregar</button>
          <button class="btn btn-outline-warning" type="reset">Limpiar</button>
        </div>
        
      </form>
      
</div>
