<div id='signupFormContainer' class='container'>

    <h2>Registrarse</h2>
    
    <% if (signUpError) { %>
      <br>

      <div class="alert alert-danger">
        El usuario ya existe
      </div>

      <br>
    <% } %>

    <form id="signUpForm" class="col g-3 needs-validation" action="/authSignUp"   method="post" novalidate">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Email</label>
          <input type="email" class="form-control" id="userParam" name='user' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="pswParam" name='password' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>
        
        <div class="col-12">
          <button id="logInAndRegisterButton" class="btn btn-outline-warning" type="submit">Continuar</button>
         
        </div>
        
      </form>
      <form action="/" method="get" novalidate"> 
        <button id="redirectButtons" class='btn btn-outline-warning' type="submit" > <-- Volver al Login</button> 
      </form>

      

</div>