<div id='signupFormContainer' class='container'>

    <h2>Formulario de Registro</h2>
    <!--  -->
    <form class="col g-3 needs-validation" action="/authSignUp"   method="post" novalidate">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Email</label>
          <input type="email" class="form-control" id="userParam" name='user' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="pswParam" name='password' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nameParam" name='fieldName' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Direccion</label>
          <input type="text" class="form-control" id="adressParam" name='adress' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Edad</label>
          <input type="text" class="form-control" id="ageParam" name='age' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Telefono</label>
          <input type="text" class="form-control" id="phoneParam" name='phone' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Foto de Perfil</label>
          <input type="file" class="form-control" id="avatarParam" name='avatar' required>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <hr>
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit" >Registrarse</button>
          <button class="btn btn-primary" type="reset">Limpiar</button>
        </div>
        
      </form>

      <hr>

      <form action="/" method="get" novalidate">  
        <button class='btn btn-primary' type="submit" > <-- Volver al Login</button> 
    </form>
</div>